:root{
  --purpleish: rgb(44, 45, 80);
  --lightgrey: #d4e3f1;
}

#app {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d4e3f1;
  background: #292929;
  min-height: 100vh;
}
